{% extends 'base.html.twig' %}

{% block title %}Commandes{% endblock %}
{% block body %}
    <h1>Tableau de bord des commandes</h1>
        <ul>
            <li>Nombres de commandes totales :...</li>
            <li>Nombres de commandes en préparation :...</li>
            <li>Nombres de commandes en cours de livraison :...</li>
            <li>Nombres de commandes annulée :...</li>
        </ul>

    <h2>Les commandes</h2>
    {% for order in orders %}
        <li>{{ order.reference }}</li>
    {% endfor %}
{% endblock %}