{% extends 'base.html.twig' %}

{% block title %}instruments à vent{% endblock %}

{% block body %}
    <main>
        <h1>Nos instruments à vent</h1>

        {% for category, products in groupedProducts %}
            <h2>{{ category }}</h2>
            <ul>
                {% for product in products %}
                    <li>{{ product.name }} - {{ product.price }} € <br> {{ product.description }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Aucun produit trouvé.</p>
        {% endfor %}
    </main>
{% endblock %}
