.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    box-sizing: border-box;
    border-radius: 8px;
    border: #5B21B6 solid 1px;
    background-color: #5B21B6;
}

.form label,
.form input,
.form button,
.form a,
.form select {
    width: 100%;
    box-sizing: border-box;
}

.form label {
    margin-bottom: 5px;
}

.form button {
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
}

.form a {
    text-align: center;
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: white;
}
.form label{
    color: white;
}

input[type=radio]{
    display: inline;
}
