body {
    margin: 0;
    height: 100%;
}

.page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content{
    flex: 1;
}

header {
    position: relative;
    background: rgba(5, 5, 5, 0.7);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 210px;
}
header a{
    color: white;
    text-decoration: none;
}

#logo {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
}

#panier{
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.right-header {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(70%);
    display: flex;
    align-items: center;
    gap: 10px;
}

.right-header p {
    margin: 0;
    color: white;
    cursor: pointer;
}


.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header-content h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 70px;
}

nav a {
    font-weight: bold;
    font-size: 1.1rem;
}

nav a:hover {
    text-decoration: underline;
}

