<header>
    <nav>
        <a href="{{ path('home') }}">Accueil</a>
        <a href="{{ path('product_vent') }}">Instruments à vent</a>
        <a href="{{ path('product_corde') }}">Intsurments à corde</a>
        <a href="{{ path('product_percussion') }}">Percussions</a>
    </nav>
</header>