<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link href={{ asset('styles/header_footer.css') }} rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="page">
            {% include "_header.html.twig" %}
            <div class="content">
                {% block body %}{% endblock %}
            </div>
            {% include "_footer.html.twig" %}
        </div>

    </body>
</html>
