{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Hello</h1>
    <p>
        Texte :
        <ul>
            <li>Présentation entreprise</li>
            <li>Présentation Services</li>
            <li>Présentation Type d'instruments</li>
        </ul>
    </p>
{% endblock %}